# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
dist-ssr
*.tsbuildinfo

# Environment
.env
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma generated
/src/generated/prisma

# Misc
password.txt
sessions
key
/db/prova.db